html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: 0; }

body {
	height: 100%;
	margin: 0; 
	padding: 0;
	border: 0;
	background: #E5D6C1; 
	font-family: Myriad Pro, Arial, Tahoma, Verdana, Trebuchet MS; 
	color:#000000; 
	font-size: 0.9em; 
	 }


table, td {
	border-collapse: collapse; 
	empty-cells: show; 
	border-color: #ccc;
	font-size: 100%; }

	
a {
	color: #000000;
	text-decoration: none;  }
a:hover {
	color: #000000;
	text-decoration: underline;  }
a img {
	border: 0; }
	
/* факультеты на главной */
div.bsm_top{width: 755px; height: 25px; background: #faa334 url(../img/11.jpg) no-repeat right top; font-weight: bold; margin: 20px 0px 0px 5px; padding: 4px 0px 0px 10px;}
ul.bsm{
    margin: 0px 0px 20px 5px;padding: 0px;
    /*border:1px solid #B0B0B0;*/
    list-style-type: none;
    width: 735px; border-right: solid 30px #faa334;
}
ul.bsm li{padding: 0px; margin: 0px;}
ul.bsm li div{
    width: 350px;
    height: 150px; padding: 0px; margin: 0px;
}
/* факультеты конец */
	
/* Заголовки */
h1 {
	font-size: 105%;
	padding-left: 15px; margin: 0px 0px 10px -10px;
}
h2 { 
	font-size: 105%; }
h3 {
	font-size: 100%; }
	
.al_right {
	text-align: right; }
.al_center {
	text-align: center; }
	


/* main table*/

.MainTable {
	width: 100%;
	height: 100%;
	background: url(../img/bg_text.jpg) repeat left top; }
	
.MainTableTop {
	vertical-align: top; }

.MainTableBot {
	height: 20px;
	vertical-align: top;  }
	
	
/* H E A D E R */

.logo_vgik {
	position:absolute; 
	z-index:2;  
	padding-left: 16px; 
	margin-top: 9px;}
	
.table_top_vgik {
	width: 100%; 
	height: 227px; 
	background: url(../img/bg_top_4.jpg) repeat-x left top; 
	padding: 0; 
	margin: 0; }
	
.logo_text {
	padding: 0; 
	margin: 0;
	height: 187px; 
	vertical-align: bottom; 
	background: url(../img/top_right.jpg) no-repeat right bottom; }

.logo_text_img {
	margin-left: 219px; 
	margin-bottom: 5px;}
	
.re_version {
	 padding: 0; 
	 margin: 0; 
	 width: 153px; 
	 
	 vertical-align: bottom; 
	 padding-bottom: 6px; 
	 font-family: Georgia, Times New Roman;
	 font-size: 11px; 
	 color: #6B6151; 
	 text-align: center; }
.re_version div{
	 width: 153px;  }
	 
.ugol_top {
	position: relative; 
	height: 100%; 
	z-index:2;  
	background: url(../img/top_right_ug5.jpg) no-repeat right top;}
	
	
/* H E A D E R menu */
.top_menu {
	margin: 0;
	padding: 0;
	font-family: Georgia, Palatino Linotype;
	font-size: 13px;
	color: #8B050B;
	height: 41px;
	background: url(../img/bg_top_border_r.gif) repeat-x left bottom;
	vertical-align: bottom;
	}	
.top_menu ul.top_menu_ul{
	padding: 0;
	margin: 0px 0 0 0;
	height: 100%;
	background:  url(../img/2bg_top_border_l.gif) no-repeat left bottom;
	width: 805px;
	}
	
.top_menu ul.top_menu_ul li{
	/*display: inline;*/
	float: left;
	list-style-type: none;
	padding: 5px 3px 5px 3px;
	margin: 3px 2px 0px 0px;
	width: 126px;
	text-align:center;
	background: url(../img/bg_top.jpg) repeat-x left bottom;
	}	
/*.top_menu ul{
	padding: 0;
	margin: 0px 0 0 0;
	height: 100%;
	background:  url(../img/2bg_top_border_l.gif) no-repeat left bottom;
	width: 805px;
	}
	
.top_menu ul li{
	/*display: inline;
	float: left;
	list-style-type: none;
	padding: 5px 3px 5px 3px;
	margin: 3px 2px 0px 0px;
	width: 126px;
	text-align:center;
	background: url(../img/bg_top.jpg) repeat-x left bottom;
	}*/
.top_menu a{
	color: #8B050B;
	text-decoration: none;
	display: block;
	}

.top_menu a:hover{
	text-decoration: none;}
	

	
	
	
	
/*  LEFT menu */

.left_menu_td {vertical-align: top; margin: 0; padding:0; width: 5%; background: url(../img/bg_left.jpg) repeat-y left top;}
.leftmenu{padding: 0px; margin: 0px; width: 153px; background: url(../img/vert_menu_b.jpg) no-repeat left top;}
ul.vert_menu{list-style: none; width: 153px; padding: 0px; margin: 0px;/* background: url(../img/vert_menu.jpg) no-repeat left top;*/}
ul.vert_menu li{position: relative; margin: 0px; padding: 9px 8px 9px 7px; border-bottom: 2px solid #DECEB4;	text-align: right;z-index:1;
	list-style-type: none;
	color: #8B050B;
	font: normal 13px/14px Georgia, Palatino Linotype;}
		ul.vert_menu li ul.vert_menu_ul{position: absolute; left: 154px; width: 153px; top: 0; display: none; padding: 2px; background-color: #fcf5e9;z-index:1;}
		li:hover ul.vert_menu_ul, li.over ul.vert_menu_ul{display: block; border: solid 1px red;}
		ul.vert_menu li a, ul.vert_menu_ul li a{display: block;	text-decoration: none; color: #8B050B;}
        /* Fix IE. Hide from IE Mac \*/
		* html ul.vert_menu_ul li { float: left; }
		* html ul.vert_menu_ul li a { height: 3%; }
		/* End */
	    #nav a{color: #8B050B; text-decoration: none;}
		#nav a:hover{color: #8B050B; text-decoration: none;}	
		
		/* menu */
		
/*.vert_menu {
	width: 153px; 
	background: url(../img/vert_menu_bg.jpg) repeat left top;}

.vert_menu ul{
	padding: 0;
	margin:0;
	/*height: 231px;
	background: url(../img/vert_menu.jpg) no-repeat left top;
	}
.vert_menu ul li{
	/*height: 32px;
	padding: 2px 8px 2px 20px;
	padding: 9px 8px 9px 20px;
	border-bottom: 2px solid #DECEB4;
	text-align: right;
	list-style-type: none;
	color: #8B050B;
	font-family: Georgia, Palatino Linotype;
	font-size: 13px;
	line-height: 0.9;
	font-weight: normal;
	}
.left_menu a{
	color: #8B050B;
	display: block;
	text-decoration: none; 
	}
.left_menu a:hover{
	text-decoration: none; 
	}
	*/
/* для поиска и входа */	
.vert_search {
	background: url(../img/bg_search.jpg) no-repeat left top;
	color: #8B050B;
	font-family: Georgia, Palatino Linotype;
	font-size: 14px;
	margin-top: 13px;
	font-weight: normal;
	line-height: 1.3;}

/* поиск */	
.vert_search_div {
	text-align: right;
	width: 144px;
	padding-top: 56px; }
	
.vert_search_div form{
	margin: 0;
	padding: 0;}
	
.vert_search_div .input_search {
	width: 117px;
	height: 17px;
	border: 0; }
	
.button_main {
	border: 0; 
	background: none; 
	color: #8B050B;
	font-family: Georgia, Palatino Linotype;
	font-size: 14px;
	cursor: pointer;
	padding: 0px;
	margin: 0;
	text-align: right; }
	
.vert_search a {
	color: #8B050B;}
.vert_search a:hover {
	text-decoration: none; }
	
	
	
/* вход */
.vert_enter {
	text-align: right;
	width: 144px;
	margin: 0;
	padding-top: 75px; }
	
.vert_enter form{
	margin: 0;
	padding: 0;}
	
.vert_enter .input_enter {
	width: 100px;
	height: 17px;
	border: 0;}
.submit{background-color: #faa334; border: 0px none; margin: 4px 0px 0px 0px; padding: 2px; font: normal 12px Georgia, Palatino Linotype; color: #333333;}
	
	
/**/
.table_main_center_border {
	width: 1%;  
	background: url(../img/bg_border_left.gif) repeat-y left top; }

.table_main_center {
	width: 90%; 
	height: 80%; 
	vertical-align: top;
	padding: 20px 0px 50px 20px;
	/*padding-right: 50px;*/ }
	
	
/* raight */
.table_main_right {
	padding: 0;
	margin: 0;
	vertical-align: top;
	width: 5%;
	background: url(../img/bg_right.jpg) repeat-y right top;}
	
.ugol_bottom {
	position: relative; 
	width: 78px; 
	height: 121px; 
	margin-right: 10px; 
	z-index:2; 
	background: url(../img/bottom_right_ug.gif) no-repeat right top;}
	

/* F O O T E R */

.footer_center {
	text-align:center; 
	background: url(../img/bg_border_left.gif) repeat-y left top;
	padding: 10px 10px 10px 20px;}
	
	
	
/* C O N T E N T */

/* rector index */
.rector_main {
	margin-left: 48px;
	margin-bottom: 20px;
	background: url(../img/bg_rektor.jpg) no-repeat right top;
	height: 225px; }
	
	.rector_main p {
		padding: 0;
		margin: 0;}
		
	.rector_main p.al_right {
		margin-top:20px;}
		
	.rector_main h2 {
		text-align: center;
		margin-top: 0;}
		
	.rector_main .left {
		width: 75%;
		vertical-align: top; }
	.rector_main .right {
		vertical-align: top;
		text-align: right; 
		padding-top: 25px;
		padding-right: 15px; }
		
/* banner index */
.banner_main {
	margin-left: 48px;
	background: #FAA334;
	width: 668px;
	height: 141px; 
	text-align: center;
	margin-bottom: 30px; }
	
	.banner_text {
		padding:3px;}
	.banner_pic {
		margin: 2px;}
		
		
/* video news index */	
.main_news {
	width: 100%;
	margin-bottom: 20px; }
	
	.main_news h2 {
		padding: 2px 5px 5px 5px;
		margin: 0 0 15px 0; 
		color: #000000;
		font-family: Georgia, Palatino Linotype;
		font-size: 19px;
		width: 240px;
		font-weight: normal;
		background: #FAA334;}
		
	.main_news .left {
		vertical-align: top; }
	.main_news .right {
		vertical-align: top;
		text-align: right; 
		padding-right: 15px; }
	/*.main_news*/ .data {
		color: #808080;}
	/*.main_news*/ .top_pad {
		margin-top:0;}
	/*.main_news*/ .pad_left {
		padding-left: 6px;}
	/*.main_news*/ .archive {
		padding-top: 5px;}
	/*.main_news*/ .news_pic {
		float: right;
		margin: 3px;}
		
		
/* contnt margin */	
.content_div {
	margin-left: 25px;
	margin-top: 10px;
	/*width: 100%;*/} 
		
	.content_div h1{
		margin-top: 0;
		padding: 6px 8px 9px 8px;
		font-family: Georgia, Palatino Linotype;
		font-size: 19px;
		font-weight: normal;
		width: 655px; }	
		
	.content_div ul{
		Margin: 0px 5px 0px 5px; padding: 0px;
		}
		.content_div ul ul{
			Margin: 0px 5px 0px 5px; padding: 0px;
		}
		.content_div ul li ul{
			margin: 0px 0px 0px 20px;
		}
		
	
		
	.content_div div.heading {
		margin: 5px 5px 5px 10px;}
		
	.content_div ul li.d{
		padding: 2px 2px 2px 9px;
		}	
	.content_div ul li.l{
		padding: 2px 2px 2px 9px;
		}	
		
	.ul_no_type {
		list-style-type: none;
		margin:0;
		padding: 8px 8px 20px 0px;
		width: 260px; }
		
		.ul_no_type li{
			list-style-type: none; }
			
/*абитуриенту */		
.abitur {
	background: url(../img/bg_bot_abitur.jpg) no-repeat right bottom; }	
	
	.abitur h1{
		background: #98B88C url(../img/bg_h1_abitur.gif) no-repeat right top; padding-right: 45px; }	
		
	.abitur li{
		list-style-position: inside;
		}
		
	.abitur ul li.d{
		background: url(../img/bg_abitur_li_d.png) repeat right top;
		}	
	.abitur ul li.l{
		background: url(../img/bg_abitur_li_l.png) repeat right top;
		}
	.abitur .width_abitur{
		width: 670px;
		}
/* афиша */		
.afisha {
	background: url(../img/bg_bot_afisha.jpg) no-repeat right bottom; }	
	
	.afisha h1{
		background: #FBEE79 url(../img/bg_h1_afisha.gif) no-repeat right bottom;  padding-right: 45px;}	
		
	.afisha .d{
		background: #F3E6AC;
		}	
	.afisha .l{
		background: #F3E7BF;
		}
		
/* библотека */		
.libr {
	background: url(../img/bg_bot_libr.jpg) no-repeat right bottom; }	
	
	.libr h1{
		background: #B87095 url(../img/bg_h1_libr.gif) no-repeat right bottom;  padding-right: 45px;}	
		
	.libr .d{
		background: #DAB7B8;
		}	
	.libr .l{
		background: #E4C9C3;
		}
		
/* ЦДПО */		
.fdpo {
	background: url(../img/bg_bot_fdpo.jpg) no-repeat right bottom; }	
	
	.fdpo h1{
		background: #7CA095 url(../img/bg_h1_fdpo.gif) no-repeat right bottom;  padding-right: 45px;}	
		
	.fdpo .d{
		background: #C4C9B9;
		}	
	.fdpo .l{
		background: #D4D3C1;
		}
		
/* Фестиваль */		
.fest {
	background: url(../img/bg_bot_fest.jpg) no-repeat right bottom; }	
	
	.fest h1{
		background: #E94A46 url(../img/bg_h1_fest.gif) no-repeat right bottom;  padding-right: 45px;}	
		
	.fest .d{
		background: #EDA99B;
		}	
	.fest .l{
		background: #EDBCAC;
		}
		
/* international */		
.intern {
	background: url(../img/bg_bot_intern.jpg) no-repeat right bottom; }	
	
	.intern h1{
		background: #F7B351 url(../img/bg_h1_intern.gif) no-repeat right bottom;  padding-right: 45px;}	
		
	.intern .d{
		background: #F1CF9E;
		}	
	.intern .l{
		background: #F3D9B1;
		}
		
/* история */		
.hist {
	background: url(../img/bg_bot_hist.jpg) no-repeat right bottom; }	
	
	.hist h1{
		background: #BBA88C url(../img/bg_h1_hist.gif) no-repeat right bottom;  padding-right: 45px;}	
		
	.hist .d{
		background: #DACBB4;
		}	
	.hist .l{
		background: #E3D4BE;
		}
		
/* izdat */		
.izdat {
	background: url(../img/bg_bot_izdat.jpg) no-repeat right bottom; }	
	
	.izdat h1{
		background: #C0A7AF url(../img/bg_h1_izdat.gif) no-repeat right bottom;  padding-right: 45px;}	
		
	.izdat .d{
		background: #DECCC3;
		}	
	.izdat .l{
		background: #E5D5C8;
		}
		
/* наука */		
.scien {
	background: url(../img/bg_bot_scien.jpg) no-repeat right bottom; }	
	
	.scien h1{
		background: #C59BB8 url(../img/bg_h1_scien.gif) no-repeat right bottom;  padding-right: 45px;}	
		
	.scien .d{
		background: #E0C9C7;
		}	
	.scien .l{
		background: #E7D3CB;
		}
	.scien .scien_ul {
		list-style-type:decimal; 
		list-style-position: outside;
		margin-top:0;
		margin-bottom: 0; }
		
	.scien .scien_ul_no ul{
		list-style-type: none; }
	.scien .scien_ul_no li{
		list-style-type: none; }
	.scien .ul_no_type {
		width: 320px;}
		
		
/* студенческие работы */		
.stud_rab {
	background: url(../img/bg_bot_stud_rab.jpg) no-repeat right bottom; }	
	
	.stud_rab h1{
		background: #86B868 url(../img/bg_h1_stud_rab.gif) no-repeat right bottom;  padding-right: 45px;}	
		
	.stud_rab .d{
		background: #C9D3A9; }	
	.stud_rab .l{
		background: #D6D9B6; }
	.stud_rab .div_play {
		text-align: center;
		margin-top: 40px;
		margin-right: 40px;}
		
/* студентам */		
.forstud {
	background: url(../img/bg_bot_forstud.jpg) no-repeat right bottom; }	
	
	.forstud h1{
		background: #8292B0 url(../img/bg_h1_forstud.gif) no-repeat right bottom;  padding-right: 45px;}	
		
	.forstud .d{
		background: #C7C5C4;
		}	
	.forstud .l{
		background: #D5CFC8;
		}
		
/* VGIKtoday */		
.today {
	background: url(../img/bg_bot_today.jpg) no-repeat right bottom; }	
	
	.today h1{
		background: #F6AD3E url(../img/bg_h1_today.gif) no-repeat right bottom;  padding-right: 45px;}	
		
	.today .d{
		background: #F3CF99;
		}	
	.today .l{
		background: #F1D8B1;
		}
		
/* актёрский факультет */		
.obakter {
	background: url(../img/bg_bot_obakter.jpg) no-repeat right bottom; }	
	
	.obakter h1{
		background: #68A78D url(../img/bg_h1_obakter.gif) no-repeat right bottom;  padding-right: 45px;}	
		
		
/* colledge */			
	.colledge h1{
		background: #98C6B3 url(../img/bg_h1_colledge.gif) no-repeat right bottom;  padding-right: 45px;}	
		
	.colledge .d{
		background: #CFD8C4;
		}	
	.colledge .l{
		background: #DADCC8;
		}
		
	.colledge .div_foto{
		text-align: right; 
		float: right; 
		margin-right: 10px;
		}
		
/* услуги */	
.uslugi {
	background: url(../img/bg_bot_uslugi.jpg) no-repeat right bottom;  padding-right: 45px;}	
			
	.uslugi h1{
		background: #93C36E  }	
		
	.uslugi .d{
		background: #CDD7AA;
		}	
	.uslugi .l{
		background: #DADCB8;
		}
		
	.uslugi .ul_no_type {
		width: 450px;}
		
/* киностудия */	
.kinost {
	background: url(../img/bg_bot_kinost.jpg) no-repeat right bottom; }	
			
	.kinost h1{
		background: #ABA9A5 url(../img/bg_h1_kinost.gif) no-repeat right bottom;  padding-right: 45px;}	
		
	.kinost ul li.d{
		background: #D7CEC0;
		}	
	.kinost .l{
		background: #DFD5C5;
		}
		
		
/* контакты */	
.contact {
	background: url(../img/bg_bot_contact.jpg) no-repeat right bottom; }	
			
	.contact h1{
		background: #C3C488 url(../img/bg_h1_contact.gif) no-repeat right bottom; padding-right: 45px; }	
		
	.contact .d{
		background: #DED7B4;
		}	
	.contact .l{
		background: #E7DEC0;
		}
		
	.contact .table_width_1 {
		width: 600px;
		margin-bottom:20px; }
		.contact .table_width_1 td{
			padding: 2px 10px 2px 10px ; }
			
	.contact .table_width_2 {
		width: 600px;
		padding: 20px;
		margin-bottom:20px; }
		.contact .table_width_2 td{
			padding: 2px 60px 2px 40px ;  }
		
	.contact .al_right {
		text-align: right; }
		
	.contact .map_img {
		padding-top: 50px; }
		

		
/*fotoborder */
.fotobortable td {
	text-align: center; 
	padding: 5px 3px 5px 0px;}

/* общее */

.fotobor {
	padding: 5px;}

.fotobor img{
	padding: 5px; }

.fotobor .fotobordivins{
	width: 100%; 
	height: 100%; 
	z-index:100;
	position: relative; 
	color: #345346; 
	text-align: center;  }

.fotobor .fotoborbot {
		background: url(../img/fotoramki_bot.png) no-repeat right bottom; 
		width: 223px; 
		height: 89px; 
		z-index:101; 
		position: absolute; 
		bottom: -5px;
		right: -5px;} 
		
.fotobor .fotobordivins {
		background: #ABC4AD url(../img/fotoramki_bg.gif) no-repeat center center; }


.fotobordiv_1 {
	width: 340px; 
	height: 240px;  }
	.fotobordiv_1 .fotobortop {
		background: url(../img/fotoramki_1.png) no-repeat right top; 
		width: 37px; 
		height: 37px; 
		z-index:102; 
		position: absolute; 
		top: 0px; 
		right: 35px; }
		
		
.fotobordiv_2 {
	width: 340px; 
	height: 240px;  }
	.fotobordiv_2 .fotobortop {
		background: url(../img/fotoramki_2.png) no-repeat right top; 
		width: 70px; 
		height: 51px; 
		z-index:102; 
		position: absolute; 
		top: 7px; 
		right: -21px; }
	
	
.fotobordiv_3 {
	width: 240px; 
	height: 340px;  }
	.fotobordiv_3 .fotobortop {
		background: url(../img/fotoramki_1.png) no-repeat right top; 
		width: 37px; 
		height: 37px; 
		z-index:102; 
		position: absolute; 
		top: 60px; 
		left: 0px; }
		
		
.fotobordiv_4 {
	width: 240px; 
	height: 340px;  }
	.fotobordiv_4 .fotobortop {
		background: url(../img/fotoramki_3.png) no-repeat right top; 
		width: 70px; 
		height: 51px;  
		z-index:102; 
		position: absolute; 
		top: 55px; 
		left: -21px; }
		
.fotobor .fotobordiv_colledge {
	background: #ABC4AD url(../img/fotoramki_bg_coll.gif) no-repeat center center; }		

	
	
		