body {
	behavior:url("/js/csshover.htc"); 
	}
.d-content {
width:expression((document.documentElement.clientWidth
 || document.body.clientWidth) < 1000? "1000px":
 "auto");    
}
.png, IMG { filter:expression(fixPNG(this)); } 
.clearfix {display: block; height: 1%;}


.table_main_center {
	width: 60%;  }

	
.abitur ul li.d{
		background: #CFD3B6;
		}	
.abitur ul li.l{
		background: #DBDAC0;
		}	
		
	
	
for_right_ugol_div {
right: 9px; 
 }