body, .content, div, td, .m-inner,  { background:none;}


.re_version, .top_menu, .left_menu_td {display:none;}

.table_main_center {padding: 10px !important;;}

.rector_main {margin-left: 0; margin-right: 0}

.banner_main {margin-left: 0; margin-right: 0}

.main_news {margin-left: 0; margin-right: 0}
	
